@page
@model StyleShopping.Pages.Admin.AddCategoryModel
<div class="column col-lg-12 col-md-12 col-sm-12 mt-5">
    <h2>Add Category</h2>
    <div class="login-form register-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" asp-for="category.Name" required>
                <span asp-validation-for="category.Name" class="text-danger"></span>
            </div>

            <div class="form-group text-right">
                <button class="theme-btn btn-style-one" type="submit" name="submit-form">Add</button>
            </div>

            <div class="form-group text-right">
                <a class="theme-btn btn-style-one" name="submit-form" href="ManageInterior">Back To List</a>
            </div>
        </form>
    </div>
</div>
