@page
@model StyleShopping.Pages.Admin.ManageDashboardModel
@{
}
<style>
    body {
        margin-top: 12%;
        background: #FAFAFA;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }
</style>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<div class="container">

   

    <div class="row">
        @if (Model.OrderStatiscal != null)
        {
            foreach (var item in Model.OrderStatiscal.OrderStatusCount)
            {
                <div class="col-md-4 col-xl-3" >
                    <div class="card bg-c-blue order-card" style="height:130px">
                        <div class="card-block">
                            <h6 class="m-b-20">@await Html.PartialAsync("_OrderStatus", new Tuple<int>(item.Status))</h6>
                            <p class="m-b-0">Completed Orders<span class="f-right"> <h5 style="font-size:12px" class="f-left">01/2024-12/2024</h5><h2 class="text-right"><span>@item.Count</span></h2></span></p>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6class ="m-b-20">
                        Orders Statistic</h6>
                        <p class="m-b-0">Total  Revenue<span class="f-right"><h5 style="font-size:12px" class="f-left">01/2024-12/2024</h5> <h2 class="text-right"><span>@Model.totalRevenue</span></h2></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Customer Statistic</h6>
                    <p class="m-b-0">Total  Revenue<span class="f-right"> <h5 style="font-size:12px" class="f-left">01/2024-12/2024</h5> <h2 class="text-right"><span>@Model.totalRevenue</span></h2></span></p>
                </div>
            </div>
        </div>
    </div>

     <canvas id="myChart" width="400" height="200"></canvas>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var ctx = $('#myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June'],
                    datasets: [{
                        label: 'Sales',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>

}