<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2d8f42f6-0dd7-4482-86b5-f42a2df16624/resourceGroups/StyleService/providers/Microsoft.Web/sites/StyleServiceShopping</ResourceId>
    <ResourceGroup>StyleService</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://styleserviceshopping.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>29bf6b8c-eadc-4930-991a-6b28f7753a1a</ProjectGuid>
    <MSDeployServiceURL>styleserviceshopping.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StyleServiceShopping</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$StyleServiceShopping</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhQuT8KENPEuoldEmW1sBrgAAAAACAAAAAAAQZgAAAAEAACAAAAAv4qWTuiWye29zG3ZV7wl4LvAiUNXoi/XTXAv7Gk1vbAAAAAAOgAAAAAIAACAAAABx5rHZnf5kvmkZQQHSRj1Us/BelzeRnrTP3gP6GpifloAAAABKhrFTpOXweX6si5gE+kKG3C0lqZmLW8aBfv5bDDfqz8a7CVsgQu7PqM14y6Jr07nbogglQcPF6v1BRw6MpWi7O3rc9zpG9cyv/Tm1xiCyT2wAgQmcGAbUxfXxRukuCdAuyzLn/mQg2LdCWtm3utgJRT0u3yRwhVrqlf+Bdsy/CkAAAAABLswcJ2p9G0bFtqqlzYV2PakdD8PQSonCBlHxLTiJwRrQGmk/kY6smJhHINPZTZCmr9wneerHZoblDlpBd3qx</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>